DB_URI=mongodb+srv://dustin:<password>@cluster0-8snqs.mongodb.net/dustin?retryWrites=true&w=majority
BACKEND_PORT=8080
FRONT_END_SERVER_IP=ec2-54-187-230-237.us-west-2.compute.amazonaws.com
FRONT_END_PORT=4200